<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class = "page-header" id="header">
    <h1>Hello {{main.username}}</h1>
</div>

<p id="welcome">Welcome to your bar management system {{main.username}}, from here you will be able to access the list of current bars and current location.js members<br>
    from the options above. From there you can also add delete both bar and location.js members. You can edit the wage of location.js members and<br>
    you can also edit a bars earnings.</p>

</body>
</html>