<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class = "page-header">
    <h1>Enter the new staff members details below</h1>
    <p>{{message}}</p>
</div>
<div ng-controller="addstaffcontroller" >

    <div class="row">
        <div class="col-md-6 col-md-offset-3">


            <form ng-submit="addStaff(newStaff)">

                <div class="col-md-6" ><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>Staff members name</div>
                <div class="col-md-6" ><input class="form-control" type="text" name="name" placeholder="Enter the staff members name" ng-model="newStaff.name" required = "true"></div>
                <br><br><br>

                <div class="col-md-6" ><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";> staff members role</div>
                <div class="col-md-6" ><input class="form-control"  type="text" name="role"  placeholder="Enter the staff membbers role" ng-model="newStaff.role"  required = "true"> </div>
                <br><br><br>

                <div class="col-md-6" ><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>Staff memebers wage</div>
                <div class="col-md-6" ><input class="form-control"  type="number" name="wage"  placeholder="Enter the staff members wage" ng-model="newStaff.wage"  required = "true"></input></div>
                <br><br><br>
                <br><br><br>

                <br><br><br>
                <div class="col-md-9" ></div><div class="col-md-3" ><button class ="btn btn-primary" type = "submit">ENTER NEW STAFF MEMBER</button></div>
            </form>
            <br> <br>  <br>

        </div>
    </div>
</div>
</body>
</html>