
<div class="page-header">
    <h1>User Registration</h1>
</div>

<form ng-submit="register.regUser(regData)">
    <label>Email:</label>
    <input class="form-control" type="text" name="email", placeholder="please enter email address" ng-model="register.regData.email">
    <br>

    <label>first name:</label>
    <input class="form-control"  type="text" name="fname" placeholder="please enter first name" ng-model="register.regData.fname">
    <br>
    <label>last name:</label>
    <input class="form-control"  type="text" name="lname" placeholder="please enter last name" ng-model="register.regData.lname">
    <br>
    <label>Role:</label>
    <input class="form-control"  type="text" name="role" placeholder="please enter last name" ng-model="register.regData.role">
    <br>
    <label>Mobile No:</label>
    <input class="form-control"  type="text" name="mobileNo" placeholder="please enter last name" ng-model="register.regData.mobileNo">
    <br>

    <label>Password:</label>
    <input class="form-control"  type="password" name="password" placeholder="please enter username" ng-model="register.regData.password">
    <br>
    <button class="btn btn-primary" type="submit">Register</button>
</form>

<br>

<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading</p>
</div>
<br>


<div clas="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">
        {{register.successMsg}}
    </div>
</div>

<br>

<div clas="row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger">
        {{register.errorMsg}}
    </div>
</div>